* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background: #000;
    color: #fff;
}

.content {
    padding: 4rem;
}

.sectiom {
    border: 2px sol;
}