body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

a {
    width: 300px;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    b
}